---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { data, slug } = post;
const { title, author, pubDate, descripton, imgCover = "" } = data;

const { Content } = await render(post)
---

<Layout title={`${title} - Eléctrica120`} description={descripton}>
    <div class="w-full bg-[#f6f6f6]  flex justify-center">
        <div class="main  lg:max-w-[800px]  flex flex-col   p-4">
            <h1 class="font-bold text-3xl md:text-4xl mt-4 lg:text-5xl  title-article">{title}</h1>
            <div class="extra-info font-semibold">
                <div class="author">
                    <!-- <img src={`/logo.png`} alt=""> -->
                    <span >{author}</span>
                </div>
                <span>•</span>
                <span>{pubDate}</span>
            </div>
            <div class="prose mb-12 text-xl">
                <Content/>
            </div>
        </div>
    </div>
</Layout>

<style>

    img {
		border: 2px solid red;
	}

 
    .content {
        background-color: white;
        width: 100%;
        border: 1px solid red;
    }

    .extra-info {
        color: #6941c6;
        margin-top: 24px;
        padding-bottom: 16px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 5px;
        border-bottom: 1px solid #cecece;
    }

    .author {
       
        display: flex;
        align-items: center;
        gap: 8px;
    }
    	
   
    .author img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .prose {
        color: rgba(0, 0, 0, 0.85);
        font-family: "PT Serif", serif;
    }
</style>
