---
import Layout from "../layouts/Layout.astro";
import SliderCarousel from "../components/SliderCarousel.astro";
import Carousel from "../components/Carousel.vue";
import CardComposition from "../components/CardComposition.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");

// <SliderCarousel></SliderCarousel>
---

<Layout
	title="Eléctrica120"
	description="Eléctrica 120°: Es un punto de encuentro para los estudiantes de Ingeniería Eléctrica que buscan no solo aprender, sino también conectar con la filosofía y el corazón de la carrera."
>
	<div class="pl-4 pr-4 content">
		<div class="about-us w-full">
			<h1 class="text-3xl font-bold">Eléctrica 120°</h1>
			<p class="prose text-lg mb-6 mt-4">
				Somos un espacio para estudiantes de Ingeniería
				Eléctrica que buscan aprender, compartir experiencias y encontrar
				motivación. Aquí conectamos con la esencia de la carrera y recordamos
				vivir el presente: <b class="italic">carpe diem</b>, porque
				algún día todos dejaremos de respirar.
			</p>
			<Carousel client:load />
		</div>
		<h1 class="mt-8 text-2xl font-bold">Artículos</h1>
		<div class="articles gap-8 mt-6 flex flex-col">
			{
				posts.map((post) => {
					const { data, slug } = post;
					const {
						title,
						author,
						pubDate,
						descripton,
						imgCover,
						tag,
					} = data;
					return (
						<CardComposition
							title={title}
							imgCover={imgCover}
							description={descripton}
							author={author}
							pubDate={pubDate}
							slug={slug}
						/>
					);
				})
			}
		</div>
	</div>
</Layout>

<style>
	.about-us {
		margin-top: 16px;
	}

	.content {
		padding: 0px 24px;
	}
</style>
