---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';

const data = [
  {
    name: 'Cercas Electrificadas Ramírez',
    cover: '/recommendations-cover/elec-ram.png',
    description:
      'Cuentan con 10 años de experiencia en el mercado y sus colaboradores están especializados en los sistemas de seguridad y tecnología, realizando un excelente trabajo profesionalmente.',
    url: 'https://www.cercaselectrificadasramirez.com/',
    location: 'https://maps.app.goo.gl/MThZ2jF6P4QWYfmA9'
  },
];
---

<Base>
  <Page title="Recomendaciones: Ex a Tec Puebla">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 md:max-w-3xl md:grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      {
        data.map((item) => (
          <div class=" flex w-full justify-center">
            <div class="max-w-sm rounded-lg border border-gray-200 bg-white shadow-sm dark:border-gray-700/0 dark:bg-zinc-900/95">
              <div class="flex w-full items-center justify-center pt-3">
                <img style="margin: 0;" class="img-s-cover h-40  w-1/2 rounded-lg" src={item.cover} alt="" />
              </div>
              <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{item.name}</h5>
                <p class="mb-3 line-clamp-5 font-normal text-gray-700 dark:text-gray-400">{item.description}</p>
                <a
                  target="_blank"
                  href={item.url}
                  class="inline-flex items-center gap-2 rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:text-white dark:bg-blue-600 "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30px"
                    height="30px"
                    viewBox="0 0 192 192"
                    style="enable-background:new 0 0 192 192"
                    xml:space="preserve"
                  >
                    <path
                      d="M84 128.6H54.6C36.6 128.6 22 114 22 96c0-9 3.7-17.2 9.6-23.1 5.9-5.9 14.1-9.6 23.1-9.6H84m24 65.3h29.4c9 0 17.2-3.7 23.1-9.6 5.9-5.9 9.6-14.1 9.6-23.1 0-18-14.6-32.6-32.6-32.6H108M67.9 96h56.2"
                      style="fill:none;stroke:#ffffff;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"
                    />
                  </svg>
                  Visitar sitio
                </a>
                <a
                  target="_blank"
                  href={item.location}
                  class="inline-flex ml-2 items-center gap-1 rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:text-white dark:bg-blue-600 "
                >
                 <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 192 192" fill="none"><path stroke="#ffffff" stroke-width="12" d="M96 22a51.88 51.88 0 0 0-36.77 15.303A52.368 52.368 0 0 0 44 74.246c0 16.596 4.296 28.669 20.811 48.898a163.733 163.733 0 0 1 20.053 28.38C90.852 163.721 90.146 172 96 172c5.854 0 5.148-8.279 11.136-20.476a163.723 163.723 0 0 1 20.053-28.38C143.704 102.915 148 90.841 148 74.246a52.37 52.37 0 0 0-15.23-36.943A51.88 51.88 0 0 0 96 22Z"/><circle cx="96" cy="74" r="20" stroke="#ffffff" stroke-width="12"/></svg>
                  Ver en mapa
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Page>
</Base>

<style></style>
