---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
import { Image } from 'astro:assets';

const data = [
  {
    cover: '/magazines-cover/prtotr-poten.jpeg',
    name: 'Protección de Sistemas Eléctricos de Potencia',
    description:
      'Los invitamos a unirse al grupo de telegram de Protecciones, donde encontraran informes de proyectos, codigos, simulaciones, imagenes iliustrativas, diagramas, etc.',
    url: 'https://t.me/+_IVasiuLVu1mYmU5',
  },
  {
    cover: '/magazines-cover/maquina-dc-corriente-continua.png',

    name: 'Maquinas Síncronas de Corriente Continua',
    description:
      'Los invitamos a unirse al grupo de telegram de máquinas sincronas de corriente donde encontra información, prácticas, teoría, reportes y más.',
    url: ' https://t.me/+uEgPx1JELNAwNTkx',
    practicas: [
      'https://docs.google.com/presentation/d/1NcmgBvksiqp_mvKn3iuWbjV5DGIYbVlE/edit?usp=drive_link&ouid=102601378780001225831&rtpof=true&sd=true',
      'https://drive.google.com/file/d/1nAyEqOqEbgKueMG_c7ppnzrLzpQVsuuB/view?usp=drive_link',
      'https://drive.google.com/file/d/1tyxkAFk5gGKgOdyN_Rit22yqRutNh9CP/view?usp=drive_link',
      'https://drive.google.com/file/d/1b4YDQIa31dhhPYL6hGs4ZYFJ7ayOOWJi/view?usp=drive_link',
      'https://drive.google.com/file/d/1MwT2EMgrqrj5y6VTVamHYFxhb97Gyz4n/view?usp=drive_link',
      'https://drive.google.com/file/d/1yDy6OTwWAsLIQAMUbgY-lnBxyXzFiuuV/view?usp=drive_link',
      'https://drive.google.com/file/d/19Oji9tSaJ-UNw_HhYD_XEpVoXEuaAqt6/view?usp=drive_link ',
    ],
  },
];
---

<Base>
  <Page title="Materias">
    <div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      {
        data.map((item) => (
          <div class="flex gap-5 rounded-md border bg-white  p-3 dark:border-gray-700/70 dark:bg-zinc-900/95 md:p-5">
            <div class="flex  w-1/2 flex-col items-center justify-around gap-3">
              <Image
                style="margin: 0"
                class="border transition duration-300 ease-in-out hover:scale-110 dark:border-gray-700/70"
                src={item.cover}
                alt="hola"
                width={960}
                height={500}
                decoding="async"
                loading="lazy"
              />

              <a
                target="_blank"
                href={item.url}
                class="mb-2 me-2 inline-flex items-center rounded-lg bg-[#40B3E0] px-5 py-1 gap-2 text-center text-sm font-medium text-white hover:text-white  focus:outline-none focus:ring-4 "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="30px"
                  height="30px"
                  viewBox="0 0 256 256"
                  version="1.1"
                  preserveAspectRatio="xMidYMid"
                >
                  <g>
                    <path
                      d="M128,0 C57.307,0 0,57.307 0,128 L0,128 C0,198.693 57.307,256 128,256 L128,256 C198.693,256 256,198.693 256,128 L256,128 C256,57.307 198.693,0 128,0 L128,0 Z"
                      fill="#40B3E0"
                    />
                    <path
                      d="M190.2826,73.6308 L167.4206,188.8978 C167.4206,188.8978 164.2236,196.8918 155.4306,193.0548 L102.6726,152.6068 L83.4886,143.3348 L51.1946,132.4628 C51.1946,132.4628 46.2386,130.7048 45.7586,126.8678 C45.2796,123.0308 51.3546,120.9528 51.3546,120.9528 L179.7306,70.5928 C179.7306,70.5928 190.2826,65.9568 190.2826,73.6308"
                      fill="#FFFFFF"
                    />
                    <path
                      d="M98.6178,187.6035 C98.6178,187.6035 97.0778,187.4595 95.1588,181.3835 C93.2408,175.3085 83.4888,143.3345 83.4888,143.3345 L161.0258,94.0945 C161.0258,94.0945 165.5028,91.3765 165.3428,94.0945 C165.3428,94.0945 166.1418,94.5735 163.7438,96.8115 C161.3458,99.0505 102.8328,151.6475 102.8328,151.6475"
                      fill="#D2E5F1"
                    />
                    <path
                      d="M122.9015,168.1154 L102.0335,187.1414 C102.0335,187.1414 100.4025,188.3794 98.6175,187.6034 L102.6135,152.2624"
                      fill="#B5CFE4"
                    />
                  </g>
                </svg>
                Únete
              </a>
            </div>
            <div class="flex  w-full flex-col">
              <p style="margin: 0;" class="text-base font-semibold md:text-xl">
                {item.name}
              </p>
              <p>{item.description}</p>
              <div class="w-full  flex flex-col gap-3">
                {item.practicas ? <p style="margin: 0;">Práticas</p> :  ""}
               
                <div class="flex gap-2 flex-wrap ">
                  {item.practicas?.map((pra) => (
                    <a target="_blank" style="margin: 0;" href={pra} class="hover:dark:bg-black/30 p-1  hover:bg-gray-500/20 rounded-sm">
                      <img style="width: 20px; height: 20px; margin: 0;" src="/drive-logo.png" alt="" />
                    </a>
                  ))}
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Page>
</Base>
