---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { data } = post;
const { title, author, pubDate, descripton, imgCover = "" } = data;

const {Content} = await render(post)
---

<Layout title={`${title} - Eléctrica120`} description={descripton}>
    <div class="main p-3 lg:p-6 md:p-0">
        <h1 class="font-bold text-3xl lg:text-4xl    title-article">{title}</h1>
        <div class="extra-info">
            <div class="author">
                <img src={`/logo.png`} alt="">
                <span class="font-bold">{author}</span>
            </div>
            <span>·</span>
            <span>{pubDate}</span>
        </div>
        <div class="prose text-lg md:text-xl  p-4 md:p-2 bg-white">
            <Content/>
        </div>
    </div>
</Layout>

<style>
    .main {
        max-width: 700px;
        
    }
    .content {
        background-color: white;
        width: 100%;
    }

    .extra-info {
        margin-top: 32px;
        padding-bottom: 24px;
        margin-bottom: 24px ;
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid #cecece;
    }

    .author {
       
        display: flex;
        align-items: center;
        gap: 8px;
    }

   
    .author img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .prose {
        color: black;
        font-family: "PT Serif", serif;
    }
</style>
