---
interface Props {
    title: string;
    imgCover: string;
    description: string;
    author: string;
    pubDate: string;
    slug: string;
}

const { title, imgCover, description, author, pubDate, slug } = Astro.props;
---

<article class="card-composition flex flex-col w-full">
    <div>
        <a href={`/articulo/${slug}`}>
            <div
                class="img-cover rounded-t-xl w-full h-[250px]"
                style={`background-image: url("${imgCover}");`}
            >
            </div>
        </a>
        <div class="bg-[#f4f4f4] p-4 pr-2 info rounded-b-lg">
            <p class="author text-md font-semibold">
                {`${author} • ${pubDate}`}
            </p>
            <a href={`/articulo/${slug}`} class="text-xl title font-semibold"
                ><p class="`title my-3">{title}</p></a
            >
            <p class="prose description text-lg w-full pr-6">{description}</p>
        </div>
    </div>
</article>
<style>

   .info {
    height: 220px;
   }
    .title {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description {
          display: -webkit-box;
        -webkit-line-clamp: 3; /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .card-composition {
        font-family: "Inter", sans-serif;
    }
    .img-cover {
        width: 100%;
        height: 220px;
        background-size: cover; /* Ajusta la imagen al tamaño del div */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }
    .author {
        color: #6941c6;
    }

    .prose {
        color: #667085;
    }
</style>
